.page-item {
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.50);
}

.page-link {
    color: #6f7f9a;
    background-color: whitesmoke;
}

/* src: https://stackoverflow.com/questions/32355009/changing-pagination-colour-bootstrap */
.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #ffffff;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a {
    color: whitesmoke;
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69);
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}