.page-item {
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.50);
}

.page-link {
    color: #6f7f9a;
    background-color: whitesmoke;
}


/* link active doesn't work, want to change bg color
.page-link:active {
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #ff5291 , #FBB03B);
} */