@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background: linear-gradient(180deg, rgba(138, 215, 255, 0.8) 0%, rgba(251, 207, 201, 0.8) 70%);
}

html, body{
    margin: 0;
    font-family: 'Open Sans';
}

.tag {
    background-color:  rgb(255, 255, 255, 0.75);
    margin: 8px 8px 0 0;
    text-decoration: none;
    color: black;
    border: none;
}

.tag:hover {
    background-color: white;
    color: black;
}

.example-query {
    padding: 1rem;
    border-radius: 6px;
}

.form-control {
    height: 100%;
    padding: 0.75rem;
    background-color: rgb(255, 255, 255, 0.75);
}

.btn-outline-dark {
    height: 100%;
    padding: 0.75rem;
}