@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background: linear-gradient(180deg, rgba(138, 215, 255, 0.8) 0%, rgba(251, 207, 201, 0.8) 70%);
}

html, body{
    margin: 0;
    font-family: 'Open Sans';
}