@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jua&display=swap');


html, body{
    margin: 0;
    font-family: 'Open Sans';
}

/* Header Meet the Team */
.fw-light {
    margin: 1%;
    font-family: 'Jua';
    width: 100%;
    padding: 0.5em;
    border-radius: 16px;
    text-align: center;
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #ff5291 , #FBB03B);
}

/* Align Meet the Team Card to the Center */
.row {
    justify-content: center;
}

.col-xl-2 {
    margin: 1%;
}

.card-text-des {
    color: #ed6ea0;
}

/* Github */
.github-tag {
    background-color: whitesmoke;
}

.github-logo {
    margin: 0.5em;
    width: 26px;
}

.github-name {
    text-decoration: none;
    color: black;
}

.github-name:hover {
    color: rgb(155, 155, 155);
}