.mug {
  float: right;
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  position: relative;
}

.newsbie img,
iframe {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.newsbie, .card p{
  font-size: 16px;
}

.card h5 {
  font-size: 18px;
}

p {
  margin: 0;
}

#test {
    max-width: 960px;
}

@media only screen and (max-width: 960px) {
  .newsbie img{
    max-width: 512px;
    max-height: 288px
  }

  .newsbie .mug {
    max-width: 180px;
  }
}

@media only screen and (max-width: 768px) {
  .newsbie img{
    max-width: 60vw;
    max-height: calc(60vw/2);
  }

  .newsbie .mug {
    width: 20vw;
  }
}
